.footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(196, 233, 255);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    
}

.footer-h3{
    color: red;

}

.footer-ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: blue;
    
}
