body {
  background-color: #d6eaff;
}

header {
  background-color: #88bcff;
  padding: 0;
  text-decoration: none;
  height: 90px;
}

header h1{
  color: #122c9d;
  padding: 5px;
  text-align: center;
}

nav a{
  color: #d6eaff;
  text-decoration: none;
  padding: 20px;
}

nav a:hover{
  color: #072bfb;
}

h1, a {
  font-family: sans-serif;
}